#collapse-foot {
  color: white;
}

.img-resize {
  height: 350px;
  width: 19%;
}

.aboutme-pic {
  background-color: #8db3d3;
  color: aliceblue;
}

.aboutme-para {
  background-color: white;
  color: #8db3d3;
}

.bigtext {
  font-size: 50px;
}

.aboutme-foot {
  background-color: grey;
  color: white;
  padding-top: 18px;
  padding-bottom: 18px;
}
.padded {
  padding-top: 100px;
  padding-bottom: 100px;
}

.small-padded {
  padding-top: 20px;
}

.padded-top {
  padding-top: 85px;
}
.description {
  color: grey;
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  font-size: 17px;
}

.bolded {
  font-weight: bold;
}

.yellow {
  color: #fbefbb;
}

#my-sidenav a {
  position: absolute;
  left: -75px;
  transition: 0.3s;
  padding: 20px;
  padding-left: 5px;
  padding-right: 50px;
  width: 110px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#my-sidenav a:hover {
  left: 0;
}

#about {
  top: 20px;
  background-color: #8db3d3; 
}

#projects {
  top: 100px;
  background-color: #8db3d3;
}

.carousel-inner img {
  margin: auto;
}

.foot-desc {
  color: white;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}

.righticon {
  right: 0;
  left: auto;
}

.project-des {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;

}

.typewriter {
  width: auto;
  display: inline-block;
  overflow: hidden;
  margin: 0 auto;
  border-right: .10em solid grey;
  white-space: nowrap;
  animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 19% }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #8db3d3;
}

.item:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.icon-resize {
  height: 2%;
  width: 2%;
}

.fave-resize {
  height: 150px;
  width: 40%;
}

