#collapsefoot {
  color: white;
}

.img-resize {
  height: 350px;
  width: 19%;
}
.aboutme-pic {
  background-color: #8db3d3;
  color: aliceblue;
}

.aboutme-para {
  background-color: white;
  color: black;
}

.aboutme-foot {
  background-color: grey;
  color: white;
  padding-top: 18px;
  padding-bottom: 18px;
}
.padded {
  padding-top: 100px;
  padding-bottom: 100px;
}

.padded-top {
    padding-top: 85px;
}
.description {
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 17px;
}

.bolded {
  font-weight: bold;
}